[CTableDataListCtrl]
Description=List control that displays the contents of an ITableData-derived data source.
BaseClass=wxListCtrl
IncludeFilename=gui/core/table_data_listctrl.hpp
ImageFilename=
TileImage=0
ImageHAlignment=2
ImageVAlignment=2
CustomArguments=%PARENT%, %IDENTIFIER%, %POSITION%, %SIZE%, %STYLE%
CustomCtorArguments=
Styles=
ExtraStyles=
DefaultWidth=100
DefaultHeight=100
ShowInheritedProperties=1
IsContainer=0
GenerateAttachUnknownControl=1
Label=
Colour=FFFFFF
BorderStyle=wxSIMPLE_BORDER
IsBook=0
BookPageClassName=
UseExistingBaseClass=1
UseBaseClassInXRC=0
[CTableImportListCtrl]
Description=
BaseClass=wxListCtrl
IncludeFilename=gui/core/table_import_listctrl.hpp
ImageFilename=
TileImage=0
ImageHAlignment=2
ImageVAlignment=2
CustomArguments=%PARENT%, %IDENTIFIER%, %POSITION%, %SIZE%, %STYLE%
CustomCtorArguments=
Styles=
ExtraStyles=
DefaultWidth=100
DefaultHeight=100
ShowInheritedProperties=1
IsContainer=0
GenerateAttachUnknownControl=1
Label=
Colour=FFFFFF
BorderStyle=wxSIMPLE_BORDER
IsBook=0
BookPageClassName=
UseExistingBaseClass=1
UseBaseClassInXRC=0
